{% extends "template.html" %}
{% block head %}

<link rel="stylesheet" href="/static/css/profile.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/static/css/form.css" type="text/css" media="all"/>
<title>فروشگاه دوستان</title>
<script type="text/javascript"  language="javascript" src="/static/js/profile.js"></script>
<script type="text/javascript"  language="javascript" src="/static/js/ajax.js"></script>

{% end %}

{% block body %}
<div class="profile-container">
    <div class="right-profile">
        <ul>
            <li onclick="javascript:prepareProductsPage('GET', '/admin/products',  document.getElementById('section'));">
                کالا ها</li>
            <li onclick="javascript:prepareCategoriesPage('GET', '/admin/category',  document.getElementById('section'));">
                دسته ها</li>
            <li>سفارش ها</li>

        </ul>
    </div>
    <section id="section" class="content-profile" >
        <!--for demo wrap-->
    </section>



</div>





{% end %}


