<h1>محصولات</h1>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>کد</th>
            <th>نام</th>
            <th>دسته</th>
            <th>قیمت</th>
            <!--<th>تاریخ</th>-->
        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table id="result-table" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{product[0]}}</td>
            <td>{{product[1]}}</td>
            <td>{{product[2]}}</td>
            <td>{{product[3]}}</td>
        </tr>
        {% end %}

        </tbody>
    </table>
</div>
<div class="tbl-footer">

    <input class="button" type="submit" value="افزودن" onclick="javascript:openAddMenu();">
    <form id="action-search" action="javascript:search(document.getElementById('search'));">
        <input type="text" name="search" placeholder="جستجو...">
    </form>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="modal-title">ویرایش</h2>
            <p id="modal-title-code">کد محصول:
                <span id="code">
            10
        </span></p>
        </div>
        <div class="modal-body">
            <form id="modal-form" name="modal-form" action="javascript:addOrUpdateProduct(document.getElementById('modal-form'), document.getElementById('modal-title'));" method="post">
                <input class="input" type="text" name="name" id="name" placeholder="نام محصول" value="">
                <label class="field select">
                    <select id="category" name="category">
                        <option value="political">سیاسی</option>
                        <option value="economic">اقتصادی</option>
                        <option value="social">اجتماعی</option>
                        <option value="sport">ورزشی</option>
                    </select>
                    <!--<i class="arrow"></i>-->
                </label>
                <input class="input" type="text" name="price" id="price" placeholder="قیمت">
                <input class="input" type="text" name="color" id="color" placeholder="رنگ" value="">
                <input class="input" type="text" name="weight" id="weight" placeholder="وزن" value="">
                <input class="input" type="text" name="warranty" id="warranty" placeholder="گارانتی" value="">
                <input class="input" type="text" name="manufacturer" id="manufacturer" placeholder="سازنده" value="">
                <input class="input" type="text" name="year_pro" id="year_pro" placeholder="سال ساخت" value="">
                <textarea class="input" id="description" name="description" placeholder="توضیحات"></textarea>
                <input class="input" type="hidden" name="code-pro" id="code-pro" value="">

                <input class="button" type="submit" value="ثبت">
                <input id="btn-delete" class="button" type="button" onclick="javascript:deleteProduct(document.getElementById('modal-form'))" value="حذف">

                <p id="message"></p>

            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>

<script>

    //    addRowHandlers();
    //    addModalHandlers();

    //    var products = getAllProducts();
    // Get the modal

</script>