<h1>دسته ها</h1>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>نام دسته</th>
            <!--<th>تاریخ</th>-->
        </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table id="result-table" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        {% for cate in categories %}
        <tr>
            <td>{{cate[0]}}</td>
        </tr>
        {% end %}

        </tbody>
    </table>
</div>
<div class="tbl-footer">

    <input class="button" type="submit" value="افزودن" onclick="javascript:openAddCategoryMenu();">
    <form id="action-search" action="javascript:search(document.getElementById('search'));">
        <input type="text" name="search" placeholder="جستجو...">
    </form>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="modal-title">ویرایش</h2>
            <p id="modal-title-code"></p>
        </div>
        <div class="modal-body">
            <form id="modal-form" name="modal-form" action="javascript:addOrUpdateCategory(document.getElementById('modal-form'), document.getElementById('modal-title'));" method="post">
                <input class="input" type="text" name="name" id="name" placeholder="نام دسته" value="">
                <!--<input class="input" type="text" name="picture" id="picture" placeholder="تصویر">-->

                <input class="button" type="submit" value="ثبت">
                <input id="btn-delete" class="button" type="button" onclick="javascript:deleteCategory(document.getElementById('modal-form'))" value="حذف">

                <p id="message"></p>

            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>

</div>