<div class="form">
    <div class="header-form">
        <h2>تغییر رمز عبور</h2>
    </div>
    <form name="form-change-pass" id="form-change-pass"
          action="javascript:sendHTTPRequest('POST', '/change',  document.getElementById('message'),document.getElementById('form-change-pass'));"
          method="post">
        <input class="input" type="password" name="new-password" id="new-password" placeholder="رمز عبور جدید">

        <input class="input" type="password" name="retype-password" id="retype-password" placeholder="تکرار رمز عبور جدید">

        <input class="button" type="submit" value="ثبت">
        <p id="message"></p>


    </form>
</div>