{% extends "template.html" %}
{% block head %}

    <title>فروشگاه دوستان</title>
    <link rel="stylesheet" href="/static/css/form.css" type="text/css" media="all"/>

    <script type="text/javascript"  language="javascript" src="/static/js/ajax.js"></script>

{% end %}


{% block body %}

    <div class="forget">
        <div class="form">
            <div class="header-form">
                <h2>فراموشی رمز عبور</h2>
            </div>
            <form name="forget" id="forget" method="post"
                  action="javascript:sendHTTPRequest('POST', '/forget',  document.getElementById('message'),document.getElementById('forget'));">
                <input class="input" type="email" name="email" id="email" placeholder="ایمیل">
                <input class="button" type="submit" value="ثبت">
                <p id="message"></p>
            </form>
        </div>
    </div>
{% end %}
