{% extends "template.html" %}
{% block head %}
<title>مشخصات کالا</title>

{% end %}
{% block body %}
        {% if is_exist  %}

<div class="spec-content">
    <div>
        <img src="{{picurl+product[4]}}" >
    </div>

    <div>
        <ul>
            <li>نام: <b>{{product[1]}}</b></li>
            <li>دسته: <b>{{product[2]}}</b></li>
            <li>قیمت: <b>{{product[3]}}</b></li>
            <li>رنگ: <b>{{product[6]}}</b></li>
            <li>وزن: <b>{{product[7]}}</b></li>
            <li>گارانتی: <b>{{product[8]}}</b></li>
            <li>شرکت سازنده: <b>{{product[9]}}</b></li>
            <li>سال ساخت: <b>{{product[10]}}</b></li>

        </ul>

    </div>
    <div>
        <button class="button">افزودن به سبد خرید</button>
    </div>
</div>
<p class="spec-description">
{{product[5]}}
</p>
        {% end %}

        {% if is_exist == False %}
        <p class="message-normal">{{product}}</p>
        {% end %}
{% end %}
