{% extends "template.html" %}
{% block head %}

<title>فروشگاه دوستان</title>
<script type="text/javascript"  language="javascript" src="../static/js/slider.js"></script>

{% end %}

{% block body %}
<div class="main-content">
    <div class="slider">
        <img class="img-slider" src="../static/img/e-shop-logo.png">
        <img class="img-slider" src="../static/img/stuff/speaker.jpg">
        <img class="img-slider" src="../static/img/stuff/speaker.jpg">
        <img class="img-slider" src="../static/img/feature/Online-Shopping.jpg">
        <img class="img-slider" src="../static/img/feature/security3.png">

    </div>
    <div><p>پرفروش ترین ها</p></div>
    <div class="buys">
        <div class="buys-next-back"><i class="fa fa-angle-right"></i></div>
        <div class="container-buy-item">
            <div class="buys-item">
                <a href="">
                    <img src="../static/img/stuff/mouse.png">
                    <b>کیبورد خوب</b>
                    <span>16000 تومان</span>
                </a>
            </div>
            <div class="buys-item">
                <a href="">
                    <img src="../static/img/stuff/keyboard.jpg">
                    <b>کیبورد خوب</b>
                    <span>16000 تومان</span>
                </a>
            </div>
            <div class="buys-item">
                <a href="">
                    <img src="../static/img/stuff/speaker.jpg">
                    <b>کیبورد خوب</b>
                    <span>16000 تومان</span>
                </a>
            </div>
        </div>
        <div class="buys-next-back"><i class="fa fa-angle-left"></i></div>

    </div>
    <div><p>ویژگی ها</p></div>
    <div class="feature">
        <div class="feature-item">
            <img src="../static/img/feature/nemad.jpg">
        </div>
        <div class="feature-item">
            <img src="../static/img/feature/Online-Shopping.jpg">
        </div>
        <div class="feature-item">
            <img src="../static/img/feature/security3.png">
        </div>
        <div class="feature-item">
            <img src="../static/img/feature/security.jpg">
        </div>

    </div>
</div>

<script type="text/javascript"  language="javascript">
    Slider();
</script>

{% end %}
