{% extends "template.html" %}
{% block head %}
    <title>ورود و ثبت نام</title>
    <link rel="stylesheet" href="../static/css/form.css" type="text/css" media="all"/>

{% end %}

{% block body %}

    <div class="main-content">
       <div class="form">
           <div class="header-form">
               <h2>ورود</h2>
           </div>
           <form name="login" action="" method="post">
               <input class="input" type="text" name="username" id="username" placeholder="نام کاربری" value="{{suser}}">
               <input class="input" type="password" name="password" id="password" placeholder="رمز عبور">
               <a id="link-signup" href="/forget">رمز عبور خود را فراموش کردید؟</a>
               <input class="button" type="submit" value="ورود">

           </form>
       </div>
        <div class="form">
            <div class="header-form">
                <h2>ثبت نام</h2>
            </div>
            <form name="signup" action="/signup" method="post">
                <input class="input" type="text" name="username" id="username" placeholder="نام کاربری">

                <input class="input" type="email" name="email" id="email" placeholder="ایمیل">
                <input class="input" type="password" name="password" id="password" placeholder="رمز عبور">
                <!--<input class="input" type="password" name="password" id="password" placeholder="رمز عبور">-->

                <input class="button" type="submit" value="ثبت نام">

            </form>
        </div>
    </div>
{% end %}
