{% extends "template.html" %}
{% block head %}
<meta charset="UTF-8">
<title>فروشگاه دوستان</title>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" media="all"/>
<link rel="stylesheet" href="../static/css/form.css" type="text/css" media="all"/>
<script type="text/javascript"  language="javascript" src="../static/js/ajax.js"></script>
{% end %}

{% block body %}
<div class="profile-container">
    <div class="right-profile">
        <ul>
            <li>مشخصات</li>
            <li onclick="javascript:getHTTPPage('GET', '/change',  document.getElementById('section'));">
                تغییر رمز عبور</li>
            <li>سبد خرید</li>
            <li>سفارش ها</li>
            <li></li>

        </ul>
    </div>
    <section id="section" class="left-profile" >

    </section>


</div>
{% end %}