<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="../static/css/purchase.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"  language="javascript" src="/static/js/main.js"></script>

      {% block head %}<title>فروشگاه دوستان</title>{% end %}

</head>
<body>

<div id="page">
    <header>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"  language="javascript" src="../static/js/main.js"></script>
    
        <div class="header-main">
            <div id="header-main-right">
                <ul>
                    <li><a href="/">خانه</a></li>
                    <li><a href="">ارتباط با ما</a></li>
                    <li><a href="">درباره ما</a></li>
                </ul>

            </div>
            <div id="header-main-left">
                <ul>
   {% if user != None %}
                             <li><a href="/logout">خروج</a></li>
                    {% end %}
                      {% if user == None %}
                         <li><a href="/login">ورود</a></li>
                      {% end %}
                    <li>سبد</li>
                      {% if user != None %}
                             <li class="message"><a href="/profile">{{user}} </a>خوش آمدید.</li>
                    {% end %}

                </ul>
            </div>

        </div>
        <div class="header-stuff">
            <div>
                <img id="logo" src="/static/img/e-shop-logo.png" width="250" >
            </div>
            <div id="item-menu">
                <ul>
                   <li><a href="/stuffs/کالاهای دیجیتال/1">کالاهای دیجیتال</a></li>
                    <li><a href="/stuffs/لوازم خانگی/1">لوازم خانگی</a></li>
                    <li><a href="/stuffs/لوازم بهداشتی/1">لوازم بهداشتی</a></li>
                    <li><a href="/stuffs/لوازم جانبی/1">لوازم جانبی</a></li>
                    <li><i class="fa fa-search"></i></li>

                </ul>
            </div>


        </div>
    </header>

		<div id="box">
			
			<div class="main">
				
				<div class="item">
					نام کالا:
				</div>
				
				<div class="item">
					قیمت واحد:
				</div>
				
				<div class="item">
					تعداد:
				</div class="item">
				
				<div class="item">
					قیمت کل:
				</div>
					
			</div>
			
			<div class="main">
				
				<div class="item">
					موبایل
				</div>
				
				<div class="item">
					235
				</div>
				
				<div class="item">
					<select>
					  <option value="volvo">1</option>
					  <option value="saab">2</option>
					  <option value="opel">3</option>
					  <option value="audi">4</option>
					</select>
				</div class="item">
				
				<div class="item">
					55000
				</div>
				
			</div>
			
			
			<div id="mablaghkol" >
				مبلغ کل:
				
			</div>
			<div id="button">
				<button type="button" onclick="alert('ثبت شد!')">ثبت سفارش</button>	
			</div>

		</div>


    <footer>
        <div class="footer">
                <ul>
                    <li><a href="/">خانه</a></li>
                    <li><a href="">ارتباط با ما</a></li>
                    <li><a href="">درباره ما</a></li>
                    <li><a href="/login">ورود</a></li>
                    <li><a href="/login">ثبت نام</a></li>


                </ul>
        </div>
        <p>تمامی حقوق این سایت متعلق به فروشگاه دوستان می باشد.</p>

    </footer>
</div>

</body>
</html>
