{% extends "template.html" %}
{% block head %}

<title>فروشگاه دوستان</title>
<script type="text/javascript"  language="javascript" src="/static/js/ajax.js"></script>

{% end %}

{% block body %}
<div class="search-container">
    <div id="action-search">
        <form id="search" action="javascript:search(document.getElementById('search'));">
            <input type="text" name="search" placeholder="جستجو...">
        </form>


        <ul onclick="javascript:categoryItemClick(event);">
            {% for category in categories %}
            <li>{{category[0]}}</li>

            {% end %}


        </ul>
    </div>
    <div id="search-result-container">

    </div>

</div>

{% end %}