{% extends "template.html" %}
{% block head %}

<title>فروشگاه دوستان</title>
    <script type="text/javascript"  language="javascript" src="/static/js/ajax.js"></script>

{% end %}

{% block body %}

<div class="main-content">
    <div class="bar-stuff">
        <h3>کالاهای دیجیتال</h3>
    </div>
    <div class="content-stuff">
        {% if is_exist  %}

        <ul id="stuffs-contents">
            {% for pro in product %}
            <li>
                <div class="buys-item">
                    <a href="{{purl + str(pro[0])}}">
                        <img src="{{picurl+pro[4]}}">
                        <b>{{pro[1]}}</b>
                        <span>{{pro[3]}}</span>
                    </a>
                </div>
            </li>
            {% end %}



        </ul>
        {% end %}

        {% if is_exist == False %}
        <p class="message-normal">{{product}}</p>
        {% end %}
    </div>
    <div class="bar-stuff">
        {% if is_exist  %}

        <i id="btn-back" style="visibility: hidden" class="fa fa-angle-right" onclick="javascript:backPageClick(document.getElementById('page-number'));"></i>
        <p id="page-number">1</p>
        <i id="btn-next" class="fa fa-angle-left" onclick="javascript:nextPageClick(document.getElementById('page-number'));"></i>
        {% end %}
    </div>
</div>
<script type="text/javascript"  language="javascript">
    prepareStuffsPage();
</script>
{% end %}