{% extends "template.html" %}
{% block head %}

<title>فروشگاه دوستان</title>
<link rel="stylesheet" href="../static/css/form.css" type="text/css" media="all"/>
<script type="text/javascript"  language="javascript" src="/static/js/ajax.js"></script>

{% end %}

{% block body %}

<div class="forget">

    <div class="form">
        <div class="header-form">
            <h2>تغییر رمز عبور</h2>
        </div>
        {% if can_do == True %}
        <form name="form-change-pass" id="form-change-pass"
              action="javascript:sendHTTPRequest('POST', '/update/password',  document.getElementById('message'),document.getElementById('form-change-pass'));"
              method="post">
            <input class="input" type="password" name="new-password" id="new-password" placeholder="رمز عبور جدید">

            <input class="input" type="password" name="retype-password" id="retype-password" placeholder="تکرار رمز عبور جدید">

            <input class="button" type="submit" value="ثبت">
            <p id="message"></p>


        </form>
        {% end %}
        {% if can_do == False %}
        <p id="message-failure"> {{msg}}</p>
        {% end %}

    </div>



</div>
{% end %}