.main-content{
    flex-direction: row;
    /*align-items: center;*/
}
.form {
    background-color: #f3f3f3;
    padding: 20px 5px 20px 5px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #0f0f0f;


}
.button {
    background-color: white; /* Green */
    border: 3px solid #0f0f0f;
    color: #0f0f0f;
    /*padding: 8px 30px 8px 30px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 46px;
}

.button:hover {
    background-color: #0f0f0f; /* Green */
    border: 3px solid #0f0f0f;
    color: white;
    /*padding: 8px 30px 8px 30px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 46px;
}


.input{
    padding:8px;
    margin-bottom: 10px;
    /*display:block;*/
    border:none;
    border-bottom: 1px solid #ccc;
    width:90%
}

.form a{
    color: #564f4f;
    text-decoration: none;
    display: block;
    padding: 0 0 10px 0
}

.form a:hover{
    color: #f76d2c;
}

.header-form{
    color: #fff;
    background-color: #0b3e0d!important;

}
.forget{
    text-align: center;
}
.forget .form{
    width: 60%;
    display: inline-block;
}
.form #message{
    color: #f44336;
}
#message-success{
    background-color: #acd8b6;
    color: #027106;
    border: 2px solid #027106;
    border-radius: 10px;
    margin: 0 25px;
}
#message-failure{
    background-color: #fdbebe;
    color: #e62f21;
    border: 2px solid #e62f21;
    border-radius: 10px;
    margin: 0 25px;
}


.select{
  position: relative;
  vertical-align: top;
    border-bottom: 1px solid #ccc;
  /*border-radius: 22px;*/
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  color: #0f0f0f;
  outline: none;
     padding: 8px;
    margin-bottom: 10px;
  width: 90%;
  *zoom: 1;
  /*background: rgba(149, 117, 205, 0.3);*/
}

.select > select{
    /*display: block;*/
    z-index: 10;
    margin: 0;
    /*padding: 9px 16px;*/
    color: #0f0f0f;
    outline: none;
    text-indent: 0.01px;
    text-overflow: '';
    /*background: rgba(149, 117, 205, 0.3);*/
    /*border: 1px solid #9575cd;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: normal;*/
        background-color: #f3f3f3;
        border: none;
width: 100%;

}


.select .arrow {
    pointer-events: none;
    position: absolute;
    top: 9px;
    left: 5px;
    width: 24px;
    height: 24px;
    color: #fff;
    z-index: 100;
    content: '\25BC'
}