* {
    font-family: 'iransans', 'B Badr', 'B Nazanin', 'B Mitra';
}

body{
    background-color: #0f0f0f;
}




ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
li{
    color: white;
}

i{
    color: white;
}
 #item-menu i:hover{
     color: #f76d2c;
 }

div{
    color: white;
}

#page{
    display: flex;
    flex-direction: column;
}

.header-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #564f4f;
    padding: 3px 3px 6px 3px;

}
.header-main li {
    list-style: none;

}


#header-main-right{
    float: right;
    /*width: 60%;*/
}

#header-main-right li{
    float: right;
    padding: 0 0 0 10px;

}

.header-main a{
    color: white;
    text-decoration: none;
}

.header-main a:hover{
    color: #f76d2c;
}

.header-main a:active{
    color: #f76d2c;
}

#header-main-left {
    float: left;
    /*width: 40%;*/
    left: 0;

}
#header-main-left li{
    float: left;
    border-right: 1px solid #564f4f;
    margin: 0 0 0 10px;
    padding: 0 10px 0 0;
}

#header-main-left li:hover{
    color: #f76d2c;
    cursor: pointer;
}


#logo {
    display: block;
    max-width: 100%;
    height: auto;
}


.header-stuff{
    height: 150px;
}

#item-menu{
    margin: 40px 0 20px 0;
}

.header-stuff div{
    float:right;
}
.header-stuff li{
    list-style: none;
    float: right;
    padding: 0 6px 0 6px;

}

.header-stuff a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.header-stuff a:hover{
    color: #f76d2c;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #f76d2c;


}

.header-stuff a:active{
    color: #f76d2c;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #f76d2c;

}

.main-content{
    display: flex;
    flex-direction: column;
}
.slider{
    text-align: center;
    height: 400px;
}
.slider img{
    vertical-align: middle;
    max-height: 400px;
    min-height: 400px;
    max-width: 100%;
    width: 100%
    /*width: inherit;*/
}
.img-slider{
    display: none;
}

.buys{
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.buys i {
    font-size: 50px;
    cursor: pointer;
}

.container-buy-item{
    width: 90%;
    display: flex;
    flex-direction: row;

}

.buys-item {
    width: 33.33%;
}
.buys-item a{
    text-decoration: none;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
    align-items: center;
    justify-content: center;
}

.buys-item img {
    min-height: 250px;
    max-height: 250px;
    width: inherit;

}

.buys-item b {
    color: white;
    padding: 3px 1px 3px 1px;

}
.buys-item span {
    color: #47d65b;
    padding: 3px 1px 3px 1px;

}
.buys-next-back {
    width: 5%;
}
.feature{
    display: flex;
    flex-direction: row;
    height: 300px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.feature-item{
    width: 25%;
}


.feature-item img{
    max-height: 300px;
    min-height: 300px;
    height: 100%;
    width: 99%;
}

footer p{
    margin: 0 0 0 0;
    text-align: center;
    color: wheat;

}
.footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #564f4f;
    padding: 3px 3px 6px 3px;
    margin-top: 5px;

}
.footer div{
    display: block;
    margin-bottom: 5px;
}

.footer li{
    float: right;
    list-style: none;
    padding: 5px 5px 5px 5px;
}
.footer li a{
    text-decoration: none;
    color: wheat;
    cursor: pointer;
}

.content-stuff .buys-item{
    width: 100%;
}
.content-stuff ul{
    width: 100%;
    display: table;
    list-style: none;
}

.content-stuff li{
    width: 25%;
    float: right;
    padding: 16px 0;
}

.bar-stuff{
    justify-content: center;
    padding: 10px 0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
}
.bar-stuff h3{
    margin: 0 0;
    color: #0f0f0f;
}

.message{
    color: #847a7a!important;
}
.message:hover{
    color: #847a7a!important;
}

.bar-stuff i{
    padding: 3px 10px;
    color: #0f0f0f;
    background-color: hsl(0, 0%, 82%);
    font-size: 25px;

}
.bar-stuff i:hover{
    color: white;
    background-color: #f76d2c;
    cursor: pointer;
}
.bar-stuff p{
    display: inline-block;
    color: #0f0f0f;
    margin: 0 5px;
    background-color: hsl(0, 0%, 82%);
    padding: 3px 10px;


}
.message-normal{
    text-align: center;
}

@font-face {
    font-family: 'iransans';
    src: url(../fonts/IRANSansWeb.ttf),
    url(../fonts/IRANSansWeb.ttf);
}


.spec-content{
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;

}

.spec-content div{
    padding: 10px;

}
.spec-content div:first-child{
    width: 35%;

}
.spec-content div:nth-child(2){
    width: 50%;

}
.spec-content div:nth-child(3){
    width: 15%;
        margin: 9% 4px;

}
.spec-content img{
    max-width: 300px;
    max-height: 300px;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    vertical-align: middle;
    border: 5px solid #adadad;
    border-radius: 10px;

}

.spec-content li{
    color: #0f0f0f;
}
.spec-content ul{
    padding: 10px;
    margin-right: 5px;
}
.spec-description{
    margin-top: 20px;
    background-color: #f3f3f3;
    color: #0f0f0f;
    padding: 16px;
    text-align: justify;
}


.button {
    background-color: white; /* Green */
    border: 3px solid #0f0f0f;
    color: #0f0f0f;
    /*padding: 8px 30px 8px 30px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}
.button:hover {
    background-color: #0f0f0f;
    color: white;
}

#action-search {
    float: right;
    width: 25%;
    background-color: #f3f3f3;
    padding: 6px;
    color: #0f0f0f;
}

#search-result-container{
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

#search-result-container > h3{
    background-color: #f3f3f3;
    color: #0f0f0f;
    margin: 0;
    padding: 6px;
    text-align: center;
}


#search-result-container li{
    width: 33.33%;
}

#search-result-container img{
     min-height: 200px;
    max-height: 200px;
}

#action-search input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding: 6px 40px 6px 20px;
    transition: width 0.4s ease-in-out;
}

#action-search input[type=text]:focus {
    width: 100%;
}


#action-search ul {
        border-top: 1px solid #afa6a6;
    margin: 6px 0 0 0;

}
#action-search li{
    color: #0f0f0f;
    padding: 6px;
    cursor: pointer;
}
#action-search li:hover{
    color: white;
    background-color: #0f0f0f;
}

