.profile-container{
    display: flex;
    flex-direction: row;
}
.right-profile{
    /*right: 0;*/
    /*position: fixed;*/
    width: 30%;
    background-color: #f3f3f3;
    color: #0f0f0f;
    padding: 5px 5px;
}

.right-profile li{
    color: #0f0f0f;
    padding: 6px;
    cursor: pointer;
}
.right-profile li:hover{
    color: white;
    background-color: #0f0f0f;
}
.left-profile{
    overflow: auto;
    width: 70%;
    margin-right: 16px;
        margin-left: 5px;
    height: 500px;
        /*float: left;*/
}
.content-profile{
    /*overflow: auto;*/
    width: 70%;
    margin-right: 16px;
        margin-left: 5px;
    /*height: 500px;*/
        /*float: left;*/
}

.form {
    width: 100% !important;
    padding: 20px 0 !important;
    border: 0 !important;
}

#action-search{
    float: left;
    width: 50%;
     background-color: rgba(255,255,255,0.3);
     padding: 0;
}
#section h1{
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3px;
    margin-top: 0;
}
#section table{
  width:100%;
  table-layout: fixed;
}
#section .tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
#section .tbl-content{
  height:350px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
#section th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
#section td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.tbl-content tr{
    cursor: pointer;
}
.tbl-content tr:hover{
    background-color: #f76d2c;
}

#section .tbl-footer{
  background-color: rgba(255,255,255,0.3);
      padding: 6px 15px;
    display: block;

 }

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #f3f3f3;;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0b3e0d;
    color: white;
    text-align: center;
}
.modal-header h2 {
        margin-bottom: 0;
}
.modal-header p{
    margin-top: 0;

}

.modal-body {padding: 2px 16px 6px 16px;}

.modal-body form{
        text-align: center;
}
.modal-footer {
        padding: 16px 16px;
    background-color: #0b3e0d;
    /*#5cb85c;*/
    color: white;
}

#message{
    color: #0b3e0d;
}