.main{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 400px;
    height: 30px;
    
}

.item{
    width: 100px;
    height: 100px;
    margin: 10px;
}

#mablaghkol{
	margin-top:30px;
	margin-right:10px;
}

#box{
	background-color:#FF4500;
}
#button {
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}
#factor{
	margin-right:10px;
}
